[Unit]
Description=Keyboard Backlight Idle Timeout
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/kbd-backlight-idle.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
